<div class="container"
  style="padding: 10px;width: 500px;  border: 1px solid rgba(0, 0, 0, 0.322);margin-top: 20px; border-radius: 15px">
  <form  [formGroup]="calculadora"  (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <input type="number" step="any" class="form-control" formControlName="result" placeholder="0" style="text-align: right">
    </div>
    <div class="row nRow">
      <div class="col-12">
          <div (click)="clear()" class="btn btn-light nBtn">Limpar</div>
        </div>
    </div>
    <div class="row nRow">
      <div class="col-3">
        <div  (click)="inputValue(7)" class="btn btn-light nBtn">7</div>
      </div>
      <div class="col-3">
        <div (click)="inputValue(8)" class="btn btn-light nBtn">8</div>
      </div>
      <div class="col-3">
        <div (click)="inputValue(9)" class="btn btn-light nBtn">9</div>
      </div>
      <div class="col-3">
        <button type="button" (click)="setOperation('/')" class="btn  btn-secondary nBtn">÷</button>
      </div>
    </div>
    <div class="row nRow">
        <div class="col-3">
          <div (click)="inputValue(4)" class="btn btn-light nBtn">4</div>
        </div>
        <div class="col-3">
          <div (click)="inputValue(5)" class="btn btn-light nBtn">5</div>
        </div>
        <div class="col-3">
          <div (click)="inputValue(6)" class="btn btn-light nBtn">6</div>
        </div>
        <div class="col-3">
          <button type="button" (click)="setOperation('*')" class="btn  btn-secondary nBtn">x</button>
        </div>
      </div>
      <div class="row nRow">
          <div class="col-3">
            <div (click)="inputValue(1)" class="btn btn-light nBtn">1</div>
          </div>
          <div class="col-3">
            <div (click)="inputValue(2)" class="btn btn-light nBtn">2</div>
          </div>
          <div class="col-3">
            <div (click)="inputValue(3)" class="btn btn-light nBtn">3</div>
          </div>
          <div class="col-3">
            <button type="button" (click)="setOperation('-')" class="btn  btn-secondary nBtn">-</button>
          </div>
      </div>
      <div class="row nRow">
          <div class="col-3">
            <div (click)="inputValue(0)" class="btn btn-light nBtn">0</div>
          </div>
          <div class="col-3">
            <button type="button" (click)="inputValue(',')" class="btn btn-light nBtn">,</button>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-primary nBtn">=</button>
          </div>
          <div class="col-3">
            <button type="button" (click)="setOperation('+')" class="btn btn-secondary nBtn" data-toggle="button" aria-pressed="false">+</button>
          </div>
      </div>
  </form>
</div>